{{#if user}}
<div class="container">
    <h1 class="title">Fridge</h1>
    <ul class="list-group products-list">
        {{!-- {{#if (checkAdmin user.roleId)}} --}}
        {{#each products}}
        <li class="list-group-item">
            <span data-catId="{{this.category_id}}" data-userId="{{this.user_id}}">{{this.name}}</span>
            <span>{{this.value}}%</span>
            <img data-id="{{this.id}}" class="remove-btn" src="/images/healthy-eating.png">
        </li>
        {{/each}}
        {{!-- {{/if}} --}}
    </ul>
    <form class="form-field">
        <h2>Add new food</h2>
        <div class="form-group">
            <input name="food" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <p>food type</p>
        <select name="type" class="form-control" id="exampleFormControlSelect1">
            {{#each categories}}
            <option>{{this.type}}</option>
            {{/each}}
        </select>
        <button class="add-btn btn btn-primary">add</button>
    </form>
</div>
{{/if}}

<script src="/javascripts/index.js"></script>